body {
  margin: 0;
}

.custommloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #820c1e;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dots-5 {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: d5 1s infinite linear alternate;
}
.video-container {
  text-align: center;
}

.video-container video {
  width: 800px; /* Adjust the width as needed */
  display: inline-block;
}

.video-container2 video {
  width: 800px; /* Adjust the width as needed */
  display: inline-block;
}

.image-container {
  text-align: center;
}
.image-container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.image-container2 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
